// FONTS
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 26px;
$font-size-xxxl: 30px;
$font-size-xxxxl: 42px;
$font-size-6xl: 64px;
$font-size-7xl: 72px;

//PADDING
$padding-1: 5px;
$padding-2: 8px;
$padding-3: 10px;
$padding-4: 12px;
$padding-5: 16px;
$padding-6: 18px;
$padding-7: 20px;
$padding-8: 22px;
$padding-9: 25px;
$padding-10: 30px;
$padding-11: 35px;
$padding-12: 40px;
$padding-13: 45px;
$padding-14: 50px;
$padding-15: 55px;
$padding-16: 60px;
$padding-17: 65px;
$padding-18: 104px;

//MARGIN
$margin-1: 5px;
$margin-2: 8px;
$margin-3: 10px;
$margin-4: 16px;
$margin-5: 20px;
$margin-6: 24px;
$margin-7: 30px;
$margin-8: 35px;
$margin-9: 40px;
$margin-10: 45px;
$margin-11: 50px;
$margin-12: 55px;
$margin-13: 60px;
$margin-14: 65px;
$margin-16: 104px;

// MIN-WIDTH BREAKPOINTS
//to be used on @media(min-width:<<breakpoint>>){}
$min-breakpoint-xs: 0;
$min-breakpoint-sm: 576px;
$min-breakpoint-md: 768px;
$min-breakpoint-lg: 992px;
$min-breakpoint-xl: 1200px;
$min-breakpoint-xxl: 1600px;

// MAX-WIDTH BREAKPOINTS
//to be used on @media(max-width:<<breakpoint>>){}
$max-breakpoint-xs: 0;
$max-breakpoint-sm: 575px;
$max-breakpoint-md: 767px;
$max-breakpoint-lg: 991px;
$max-breakpoint-xl: 1199px;
$max-breakpoint-xxl: 1599px;